@import "colors.css";

* {
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font;
    min-height: 0;
    font-size: 0.8rem;
    padding: 0.1rem 0.1rem;
    margin: 0.1rem 0.2rem;
}

window#waybar {
    background: @background;
    color: @on_surface;
    border: 2px solid @primary;
    border-radius: 10px;
}

tooltip {
  background: @background;
  border: @on_surface;
}

tooltip label {
  color: @on_surface;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 3px 10px;
  margin: 3px 3px;
  border-radius: 10px;
  background-color: @on_secondary;
  color: @on_surface;
}

#workspaces button.active {
  color: @background;
  background-color: @primary;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
  background-color: @primary;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#pulseaudio-slider slider {
    min-height: 0.25rem;
    min-width: 0.1rem;
}

#pulseaudio-slider trough {
    min-height: 0.25rem;
    min-width: 3rem;
    border-radius: 2px;
}

#pulseaudio {
  padding: 0.1rem 0.2rem;
}

#network:hover,
#pulseaudio:hover,
#pulseaudio-slider:hover,
#custom-launcher_icon:hover,
#clock:hover {
  background: @on_secondary;
  transition: background 0.1s ease-in-out;
}
