@import "colors.css";

* {
    border-radius: 2;
    font-family: JetBrainsMono Nerd Font;
    min-height: 0;
    font-size: 0.8rem;
    padding: 0.2rem;
    margin: 0.1rem;
}

window#waybar {
    background: @background;
    color: @on_surface;
    border: 1px solid @primary;
    margin: 0px -50px;
}

tooltip {
  background: @background;
  border: @on_surface;
}

tooltip label {
  color: @on_surface;
}

#workspaces button:hover {
    background: @on_tertiary;
}

#workspaces button.focused {
    background: @on_secondary;
    border-bottom: 3px @on_surface;
}

#pulseaudio-slider {
    padding: 0;
    margin: 0;
}
#pulseaudio-slider slider {
    min-height: 0.05rem;
    min-width: 0.05rem;
    opacity: 0;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 2rem;
    min-width: 0.05rem;
    border-radius: 5px;
    background: @background;
}
