@import "colors.css";

* {
    border-radius: 2;
    font-family: JetBrainsMono Nerd Font;
    min-height: 0;
    font-size: 0.8rem;
    padding: 0.2rem;
    margin: 0.1rem;
}

window#waybar {
    background: @background;
    color: @on_surface;
    border: 1px solid @primary;
    margin: 0px -50px;
}

tooltip {
  background: @background;
  border: @on_surface;
}

tooltip label {
  color: @on_surface;
}

#workspaces button:hover {
    background: @on_tertiary;
}

#workspaces button.focused {
    background: @on_secondary;
    border-bottom: 3px @on_surface;
}

#pulseaudio-slider slider {
    min-height: 0.05rem;
    min-width: 0.05rem;
}

#pulseaudio-slider trough {
    min-height: 2rem;
    min-width: 0.05rem;
    border-radius: 2px;
}

#network:hover,
#pulseaudio:hover,
#pulseaudio-slider:hover,
#custom-launcher_icon:hover,
#clock:hover {
  background: @on_secondary;
  transition: background 0.1s ease-in-out;
}

#custom-launcher_end_icon:hover {
  background: @on_tertiary;
}
