{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch")) -}}
#!/usr/bin/env bash
# packages-arch.txt hash: {{ include "packages-arch.txt" | sha256sum }}

set -euo pipefail

PKG_INSTALL_CMD="sudo pacman -S --noconfirm --needed"
PKG_UPDATE_CMD="sudo pacman -Syu --noconfirm"

PACKAGES=(
{{ include "packages-arch.txt" | trim | splitList "\n" | join " " }}
)

echo "Detected Arch Linux - Syncing packages..."

if ! command -v yay >/dev/null 2>&1; then
  echo "yay not found — installing..."
  temp_dir=$(mktemp -d)
  git clone https://archlinux.org "$temp_dir/yay"
  pushd "$temp_dir/yay" >/dev/null
  makepkg -si --noconfirm
  popd >/dev/null
  rm -rf "$temp_dir"
fi

eval "$PKG_UPDATE_CMD"

for pkg in "${PACKAGES[@]}"; do
  if [ -z "$pkg" ]; then continue; fi
  
  echo "Installing: $pkg"
  if ! $PKG_INSTALL_CMD "$pkg" 2>/dev/null; then
    echo "$pkg not in official repos, trying AUR..."
    yay -S --noconfirm --needed "$pkg" || echo "Failed to install $pkg"
  fi
done

echo "Setting defaults..."
xdg-mime default nemo.desktop inode/directory

echo "Installing SDDM Silent Theme..."
cd ~
git clone -b main --depth=1 https://github.com/uiriansan/SilentSDDM
cd SilentSDDM
sed -i 's|^ConfigFile=.*|ConfigFile="configs/catppuccin-macchiato.conf"|' metadata.desktop
bash ./install.sh
echo "Installed successfully!"
cd ..
rm -rf ./SilentSDDM
sudo systemctl enable sddm.service

echo "Starting Libinput Backend..."
sudo systemctl enable --now swayosd-libinput-backend.service

echo "Removing unneccesary dependencies..."
if command -v pacman >/dev/null 2>&1; then
  sudo pywalfox install
  mapfile -t orphans < <(pacman -Qtdq 2>/dev/null || true)

  if [ ${#orphans[@]} -eq 0 ]; then
    echo "No orphaned packages to remove."
  else
    printf '%s\n' "${orphans[@]}" | sudo pacman -Rns -
  fi

elif command -v apt-get >/dev/null 2>&1; then
  sudo apt autoremove --purge
elif command -v brew >/dev/null 2>&1; then
  brew autoremove
  brew cleanup
fi

{{ end -}}
