@import "colors.css";

* {
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font;
    min-height: 0;
    font-size: 0.8rem;
    padding: 0.1rem 0.1rem;
    margin: 0.1rem 0.2rem;
}

window#waybar {
    background: @background;
    color: @on_surface;
    border: 0px solid @primary;
    border-radius: 0px;
}

tooltip {
  background: @background;
  border: @on_surface;
}

tooltip label {
  color: @on_surface;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 3px 10px;
  margin: 3px 3px;
  border-radius: 0px;
  background-color: @on_secondary;
  color: @on_surface;
}

#workspaces button.active {
  color: @background;
  background-color: @primary;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
  background-color: @primary;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#network:hover,
#battery:hover,
#backlight:hover,
#pulseaudio:hover,
#clock:hover {
  background: @primary;
  color: @background;
  transition: background 0.1s ease-in-out;
  border-radius: 0;
}

#clock {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 3px 10px;
  margin: 4px 6px;
  margin-left: 2px;
  border-radius: 0px;
  color: @on_surface;
}

#tray {
  background: @on_secondary;
  border-radius: 0px;
  margin: 5px 3px;
  padding: 3px 3px;
}

#tray > widget {
  margin: 5px 5px;
  border-radius: 10px;
  background-color: @on_secondary;
}

#tray > widget:hover {
  background-color: @primary;
}

.modules-right {
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 3px 5px;
  margin: 6px 10px;
  border-radius: 0px;
  color: @on_surface;
}

#battery,
#backlight,
#network,
#pulseaudio {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 3px 1px;
  margin: 4px 4px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 0px;
  color: @on_surface;
  font-size: 24;
}

#taskbar button.active {
  border-bottom: 2px solid @on_surface;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
