@import "colors.css";

window#osd {
  border-radius: 10px;
  background: @background;
  border: 2px solid @primary;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

window#osd #container {
  margin: 6px;
  padding: 2px;
  background: transparent;
}

window#osd image {
  -gtk-icon-transform: scale(0.7);
}

window#osd image,
window#osd label {
  color: @primary;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar {
  min-height: 6px;
  padding-right: 10px;
  border-radius: 10px;
  background: @on_surface;
  border: none;
}

window#osd trough {
  min-height: inherit;
  border-radius: 10px;
  border: none;
  background: @on_surface;
}

window#osd progress {
  min-height: inherit;
  border-radius: 10px;
  border: none;
  background: @primary;
}
